<%- partial('components/kira-image') %>
	<% if (theme.copyableCodeblock) { %>
		<%- css('css/kira-code-copy') %>
			<%- js('js/kira-code-copy') %>
				<% } %>
					<div class="kira-post">
						<article>
							<div class="kira-post-title">
								<h1><strong>
										<%= page.title %>
									</strong></h1>
							</div>
							<div class="kira-post-meta kira-rainbow" style="margin:10px 0!important;">
								<a><i class="kirafont icon-calendar-fill"></i><%- date(page.date, "YYYY年MM月DD日" ) %></a>
								<a><i class="kirafont icon-edit-fill"></i>
									<%= wordcount(page.content) %> 字
								</a>
								<a><i class="kirafont icon-time-circle-fill"></i>大概 <%= min2read(page.content, {cn: 250,
										en: 160}) %> 分钟</a>
								<% var postAuthor = page.author || config.author; %>
								<% if (postAuthor) { %>
								<a class="kira-post-meta-author"><i class="kirafont icon-user"></i><%= postAuthor %></a>
								<% } %>
							</div>
							<%- image_auto_lazyload(page.content) %>
						</article>

						<% if (!page.reprinted){ %> <%- partial('components/copyright') %>
								<% } %>
											<% if (page.comments){ %>
												<div class="kira-post-footer">
													<%- partial('components/comments/gitalk') %>
														<%- partial('components/comments/giscus') %>
												</div>
												<% } %>
					</div>
